
 body{
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: darkcyan;
    
 }
.container{
    width: 300px;
    display: block;
    background-color:#0f172a;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(145deg, #1e293b, #0f172a);
    transform-style: preserve-3d;
    box-shadow:
        0 8px 15px rgba(0, 0, 0, 0.7),
        inset 0 2px 3px rgba(255, 255, 255, 0.08);

    transition:
        transform 0.15s ease,
        box-shadow 0.15s ease;
}
h2{
    text-align: center;
    margin: 5px 0px 5px 0px;
    font-family: 'Courier New', Courier, monospace;
    color: #e5e7eb;
}
.input{
    width: 100%;
    height: 100px;
    
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 10px 0px 10px 0px;
    margin-bottom: 10px;
    font-size: 16px;
}
input[type = "text"]{
    width: 100%;
    height: 100%;
    font-size: 24px;
     background-color: #020617;
     color: #e5e7eb;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;;
}

.menu{
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    padding: 10px 0px 10px 0px;
    font-size: 16px;
}
button{
    width: auto;
    height: auto;
    font-size: 28px;
    color: #e5e7eb;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;

}
.number{
    background-color:#1e293b;
    color: #e5e7eb;
}
.operator{
    background-color: #22d3ee;
}
.operator:hover{
    background-color: #67e8f9;
}
.equal{
    background-color: #f472b6;
}
.equal:hover{
    background-color: #fb7185;
}
button:hover{
    background-color: #334155;
    box-shadow: 0 0 8px currentColor;
    transform: scale(1.03);
    transition: 0.2s ease;
}


